APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/proyecto_pana/public
FRONTEND_URL=http://localhost:4200
APP_TIMEZONE=America/Guayaquil

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pana
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_MINUTES=15
JWT_REFRESH_TOKEN_DAYS=7

LOGIN_MAX_ATTEMPTS=5
LOGIN_RATE_LIMIT_MINUTES=1
